QLabel#lb1 {
    color: #34495E;
    font-size: 22px;
}
/*登录按钮样式*/
QLabel#lb2 {
    color: #34495E;
    font-size: 22px;
}
/*退出按钮样式*/
QPushButton {
    border-radius: 6px;
    color: white;
    background-color: #1ABC9C;
}
/*按钮样式*/
QLabel {
    color: white;
}
/*字体颜色样式*/
QLineEdit {
    border-radius: 6px;
    border: 2px solid #bdc3c7;
    min-height: 22px;
}
/*输入框样式*/
QLabel#lb_title {
    color: #34495E;
}
/*标题样式*/
